@import '~antd/dist/antd.css';

#main-layout {
  min-height    : 100vh;
  display       : flex;
  flex-direction: column;
}

#main-header {
  flex: 0 0 auto;
}

#main-body {
  flex: 1 0 auto;
}

#main-footer {
  flex: 0 0 auto;
}